<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/game.css">
    <link rel="stylesheet" href="css/mobile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body id="fullboard">
    <div id="navigation">
        <button class="strategoBtn" onclick="randomisePawns()">
            <i class="fa-solid fa-dice"></i>
            <br>
            Random
        </button>
        <button class="strategoBtn" onclick="resetPawns()">
            <i class="fa-solid fa-arrow-rotate-left"></i>
            <br>
            Reset
        </button>
    </div>

    <button id="startButton">Start</button>

    <div id="visualFight">
        <div class="swords">
            <img class="swoopInLeft" src="./themes/<%=theme%>/misc/sword_left.png" />
            <img class="swoopInRight" src="./themes/<%=theme%>/misc/sword_right.png" />
        </div>
        <span class="versus">VS</span>
        <div id="left">
            <img src="themes/<%=theme%>/1/4.png" alt="">
            <span>4. Sergeant</span>
        </div>
        <div id="right">
            <img src="themes/<%=theme%>/0/6.png" alt="">
            <span>6. Captain</span>
        </div>
        <span class="result">Win</span>
    </div>
    <div id="board"></div>

    <script src="https://kit.fontawesome.com/90f9e5d42f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script src="themes/<%=theme%>/config.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/stratego.js"></script>
    <script src="js/socket.js"></script>
    
</body>
</html>